@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
/* @import "tw-animate-css"; */
@custom-variant dark (&:where(.dark, .dark *));

h1,
h2,
h3,
h4,
h5,
h6,
button {
  /* font-family: "Montserrat", serif; */
  font-family: Inter, Inter Fallback, sans-serif;
}

.font-fred {
  font-family: "Fredericka the Great", serif;
}

.font-source {
  font-family: "Source Code Pro", serif;
}

.font-monst {
  font-family: "Urbanist", serif;
  /* font-family: "Montserrat", serif; */
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.landing-blur-bg {
  position: absolute;
  filter: blur(200px);
  width: 248px;
  height: 248px;
  z-index: 0;
  background-color: #008273;
}

.land-blur-bg-1 {
  top: 4%;
  right: 10%;
}

.tilted-card-demo-text {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: -0.5px;
  background: #0006;
  border-radius: 15px;
  margin: 2em;
  padding: 0.5rem 1em;
  font-family: Figtree;
  position: relative;
  top: 300px;
  font-weight: 900;
  box-shadow: 0 5px 30px #06001059;
}

@theme inline {
  --color-background: #373838;
  --color-foreground: #efefef;
  --color-textColor: #efefef;
  --color-primaryGreen: #008273;
  --color-primaryYellow: #fbff15;
  --color-primaryRed: #db222a;
  --color-secondary: #373838;
  /* #1e2939 */
  --color-accent: #efefef;
  --color-darkGreen: #1b2322;
  --h1-size: 6rem;
  --h1-weight: 500;
  --h2-size: 4rem;
  --h2-weight: 500;
  --h3-size: 3rem;
  --h3-weight: 500;
  --h4-size: 2rem;
  --h4-weight: 500;
  --h5-size: 1.5rem;
  --h5-weight: 500;
  --h6-size: 1.2rem;
  --h6-weight: 500;
  --p-size: 1.2rem;
  --p-weight: 400;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html {
  scroll-behavior: smooth;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

body {
  /* background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif; */
  overflow-x: clip;
  max-width: 1440px;
}

body::after {
  display: inline-block;
  content: "";
  z-index: 10000;
  position: fixed;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/noisebg.png");
  animation: 0.05s infinite noise !important;
  pointer-events: none;
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
    color: rgb(0, 130, 115);
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

.nav-box-shadow {
  box-shadow: 5px 1px 26px -5px rgba(0, 0, 0, 0.123);
}

.hero-web-txt::after {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background-color: #008273;
  position: relative;
  bottom: 40px;
}

.life_before {
  position: relative;
  z-index: 1;
}

.life_before::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 40%;
  z-index: -1;
  position: absolute;
  bottom: 5px;
  background-color: #00827373;
}

.scrollbar-hide {
  scrollbar-width: none;
  /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}

.custom-cursor {
  position: fixed;
  width: 35px;
  height: 35px;
  /* background-color: rgba(0, 130, 115, 0.8);  */
  border: 1px solid #008273;
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.7s cubic-bezier(0.75, 2.27, 0.3, 2.33);
  z-index: 9999;
  /* transition: transform 0.2s ease, background-color 0.2s ease; */
}

.custom-cursor .focus {
  /* transform: scale(2); */
  /* background-color: #1b2322; darkGreen */
  width: 45px !important;
  height: 45px !important;
}

.focus {
  transition: all 0.5s;
}

.custom-cursor.cursor-black {
  border: 1px solid #008273;
  background-color: transparent;
}

.cursor-default {
  box-shadow: 0 0 0 3px #008273;
  transition: all 0.5s;
}

.cursor-black {
  box-shadow: 0 0 0 1px black;
  transition: all 0.5s;
}

@media screen and (max-width: 500px) {
  body::after {
    animation: none;
  }
}

@media screen and (max-width: 380px) {
  .hero-btn-cont {
    flex-direction: column !important;
  }
}

.color {
  color: #131314;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
